body {
       background-color: #777333;
       margin: 0;
       padding: 0;
       color: #fff;
        }

        nav{
            background-color: #444;
            padding: 1rem;
        }

        nav, a{
            color: #fff;
            margin-left: 50%;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
        }

        #boasVindas{
            text-align: center;
        }

        footer{
            text-align: center;
            background-color: #444;
            color: #fff;
            position: fixed;
            width: 100%;
            bottom: 0;
        }



