{% extends 'base.html' %}
{% block conteudo %}
<div class="bg-dark text-white py-4">
    <nav>
      <ul class="text-center">
          <section class="text-center" id="boasVindas">
            <h1>Casemiro</h1>
          </section>
          <h4>
          Principais títulos:
          </h4>
          <h5>
            Champions League: 2014, 2016, 2017, 2018, 2022
          </h5>
        <h5>
            Copa América: 2019
        </h5>

      </ul>
    </nav>
        <img class="w-50 p-3 d-block mx-auto" src="{{url_for('static', filename='imagens/case.jpg')}}">
</div>
    <footer class="text-center bg-white text-black text-center position-fixed bottom-0 w-100 py-2"> Desenvolvido por {{nome}}</footer>
{% endblock %}