{% extends 'base.html' %}
{% block conteudo %}
<div class="bg-dark text-white py-4">
    <nav>
      <ul class="text-center">
          <section class="text-center" id="boasVindas">
            <h1>Dani Alves</h1>
          </section>
      </ul>
    </nav>

     <a href="/tres">
        <img class="w-50 p-3 d-block mx-auto" src="{{url_for('static', filename='imagens/da.jpg')}}">
     </a>

    <h4 class="text-center mt-4 mb-4">
        Principais conquistas:
    </h4>
    <h5 class="text-center">
        Champions League: 2009, 2011, 2015;
    </h5>
    <h5 class="text-center">
        Copa América: 2019.
    </h5>
</div>

    <footer class="text-center bg-white text-black text-center bottom-0 w-100 py-2">
      Desenvolvido por {{nome}}
    </footer>
{% endblock %}